/*== CSS Typography and Colors ==*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* Font Color */

@font-face {
    font-family: 'FuturaStd-Medium';
    src: url(Resources/Futura/FuturaStd-Medium.otf);
}
@font-face {
    font-family: 'FuturaStd-MediumOblique';
    src: url(Resources/Futura/FuturaStd-MediumOblique.otf);
}

@font-face {
    font-family: 'FuturaStd-Light';
    src: url(Resources/Futura/FuturaStd-Light.otf);
}

@font-face {
    font-family: 'FuturaStd-LightOblique';
    src: url(Resources/Futura/FuturaStd-LightOblique.otf);
}

@font-face {
    font-family: 'FuturaStd-Heavy';
    src: url(Resources/Futura/FuturaStd-Heavy.otf);
}




/* Font */

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}


div {
    display: block;
}


/* PORTFOLIO */

.caption {
  position: relative;
  margin-top: -112%;
  padding-left:10%;
    padding-right:10%;
    padding-top:35.0%;
    padding-bottom: 41%;
  width: 100%;
  text-align:center;
  color: transparent;
}

/* Back Pulse */
@-webkit-keyframes hvr {
  50% {
    background-color: rgba(62, 53, 44, 0.9);
  }
}

@keyframes hvr {
  50% {
    background-color: rgba(62, 53, 44, 0.9);
  }
}

.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr:hover, .hvr:focus, .hvr:active {
  -webkit-animation-name: hvr;
  animation-name: hvr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(62, 53, 44, 0.9);
  background-color: rgba(62, 53, 44, 0.9);
  color: white;
    
}

#portfolio {
    padding-left: 12%;
    padding-top: 0%;
    padding-bottom: 10%;
    margin-top: -12%;
}

#portfolio > .thumb {
    width: 27%;
    display:inline-block;
    margin: 5% 1.5% 0% 0%;   
}

#portfolio h2 {
  font-size: 16px;
  font-family: 'FuturaStd-Medium', 'Arial', sans-serif;
  margin-top: 15px;
  
}

#portfolio h3 {
  font-size: 12px;
  font-family: 'FuturaStd-Light', 'Arial', sans-serif;

}
    
.thumb{
  opacity: 1;
  z-index: 999;
}


.thumb {
	width: 90%;
	text-align: center;
	margin: 0 auto;
    
}

.half img {
  width: 38.25%;
  display: inline-block;
margin-left: 1%;
}

.third img {
  width: 24%;
  display: inline-block;
margin: 1%;

}

.three-fourths img {
  width: 60%;
  display: inline-block;
    margin: 1%;
}

.full img {
  width: 78%;
  display: inline-block;
    margin: 1%;
}

img {
  width: 100%;
}

.blurb {
	width: 68%!important;
	display: block;
	margin: 2% auto 0 auto;
}

.blurb > h1 {
	margin: 8% auto 0 -24%;
}

.blurb h1 {
  font-size: 20px;
}

.blurb h1{
color: #1c1c1c;
word-spacing: normal;
}

.blurb h4 {
color: #b9a797; 
margin-top: 4%;
margin-bottom: 1%;  
word-spacing: normal;
}

.blurb p {
color: #b9a797;
font-size:15px;
margin-bottom: 20px;
}


 .blurb {
  width: 68%;
  display: block;
  margin: 2% auto 0 auto;
}

#PD {
    padding-left: 8%;
    padding-right: 5%;

}

#VD {
    padding-left: 8%;
    padding-right: 5%;

}

#SB {
    padding-left: 8%;
    padding-right: 5%;

}

#GD {
    padding-left: 8%;
    padding-right: 5%;

}


/*lists*/

li {
    list-style-type: none; 
    text-align: justify;
    color: #b9a797;
    
}

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* font-sizes/line-heights*/

h1 {
    font-family: 'FuturaStd-Medium', 'Arial', sans-serif;
    color: black;
    font-size: 3.6em;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 20px;
}

h4 {
    font-family: 'FuturaStd-Medium';
    color: black;
    font-size: 0.9em;
    margin-top: 5px;
    word-spacing:8px;
}

nav,
p {
    font-family: 'FuturaStd-Medium';
    color: black;
    font-size: 1.4em;
    
}

#aboutA {
    margin-top: -8.5%;
    margin-left: 10%;
    margin-right: 4%;
}

.aboutp p {
    font-family: 'FuturaStd-Light';
    font-size: 1em;
}
.aboutp {
    padding-bottom: 10%;
}

li {
 color: black;
font-family: 'FuturaStd-LightOblique';
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
        display: inline-block;

}

.creds h2{
    font-family: 'FuturaStd-Heavy';
    font-size: 1em;
    padding-top: 2%;
}

/*
nav {
    position: fixed;
    width:100%;
    top:0;
    left:0;
    padding-top:15px;
    z-index:9999;
    height:60px;
    background-color:black;
    word-spacing:100px;
}
*/

#stickyheader {
    width: 100%;
    height: 40px;
    margin-bottom: -20px;
    left:0;
    padding-top: 15px;
    z-index:9999;
    height:60px;
    background-color:white;
    word-spacing:100px;
}

 #stickyalias {
    display: none;
    height: 10px;
 }

#unstickyheader {
    margin-bottom: 0px;
}

 #othercontent {
  margin-top: 20px;
}
/* Additional Typography CSS */

a {
    text-decoration: none;
    color: #b9a797;
}

#social-media {
    padding-left: 33%;
}
#social-media li {
    display: inline-block;
    margin-right: 0px;
    

}

#name {
    position: relative;
    right: 15%;
}

#contact{
    position:relative;
    left: 170%;
}

/*Backgrounds */

header {
    text-align: left;
    background-size: cover;
    margin-top: 0%;
}

footer {
    background-color: white;
    list-style-type: none;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 20px;
    align-content: center;
    margin: 0px;
    padding-right: 20px;
    
}

#pages {
    text-align: center;
    bottom: 100px;
}


#social-media .fa {
    color: black;
    transition: color 1s;
    display: inline-block;
}

#social-media .fa:hover {
    color: firebrick;
}

.fa-2x {
    font-size: 3em;
}

.mobile {
    text-align: right;
    position:relative;
    top:-250px;
    
    color: white;
}

.mobile-top .one-half {
width: 50%;
}

/* == heights / padding / margins / borders ==*/

.column {
    float: left;
    padding: 10px;
}

.one-half {
    width: 50%;
}

.one-third {
    width:33%;  
}

.one-fourth {
    width: 25%;  
}
.container {
    width: 955px;
    margin: auto;
}

header {
    padding-bottom: 12%;
    padding-top: 2%;
    padding-right: 10%;
    margin-left: -5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-responsive {
    max-width: 100%;
}