/*== CSS Typography and Colors ==*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* Font Color */

@font-face {
    font-family: 'FuturaStd-Medium';
    src: url(Resources/Futura/FuturaStd-Medium.otf);
}
@font-face {
    font-family: 'FuturaStd-MediumOblique';
    src: url(Resources/Futura/FuturaStd-MediumOblique.otf);
}

@font-face {
    font-family: 'FuturaStd-Light';
    src: url(Resources/Futura/FuturaStd-Light.otf);
}

@font-face {
    font-family: 'FuturaStd-LightOblique';
    src: url(Resources/Futura/FuturaStd-LightOblique.otf);
}

@font-face {
    font-family: 'FuturaStd-Heavy';
    src: url(Resources/Futura/FuturaStd-Heavy.otf);
}




/* Font */

body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}


div {
    display: block;
}

/* REEL */
.reel {
    text-align:center;  
    margin-top: -18%;
}

/* PORTFOLIO */

.caption {
  position: relative;
  margin-top: -112%;
  padding-left:10%;
    padding-right:10%;
    padding-top:35.0%;
    padding-bottom: 41%;
  width: 100%;
  text-align:center;
  color: transparent;
}

/* Back Pulse */
@-webkit-keyframes hvr {
  50% {
    background-color: rgba(62, 53, 44, 0.9);
  }
}

@keyframes hvr {
  50% {
    background-color: rgba(62, 53, 44, 0.9);
  }
}

.hvr {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr:hover, .hvr:focus, .hvr:active {
  -webkit-animation-name: hvr;
  animation-name: hvr;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(62, 53, 44, 0.9);
  background-color: rgba(62, 53, 44, 0.9);
  color: white;
    
}

#portfolio {
    padding-left: 12%;
    padding-top: 0%;
    padding-bottom: 10%;
    margin-top: -12%;
}

#portfolio > .thumb {
    width: 27%;
    display:inline-block;
    margin: 5% 1.5% 0% 0%;   
}

#portfolio h2 {
  font-size: 16px;
  font-family: 'FuturaStd-Medium', 'Arial', sans-serif;
  margin-top: 15px;
  
}

#portfolio h3 {
  font-size: 12px;
  font-family: 'FuturaStd-Light', 'Arial', sans-serif;

}
    
.thumb{
  opacity: 1;
  z-index: 999;
}


.thumb {
	width: 90%;
	text-align: center;
	margin: 0 auto;
    
}

.half img {
  width: 38.25%;
  display: inline-block;
margin-left: 1%;
}

.morehalf img {
  width: 30%;
  display: inline-block;
margin: 1%;

}

.third img {
  width: 24%;
  display: inline-block;
margin: 1%;

}

.three-fourths img {
  width: 60%;
  display: inline-block;
    margin: 1%;
}

.full img {
  width: 78%;
  display: inline-block;
    margin: 1%;
}

img {
  width: 100%;
}

.blurb {
	width: 68%!important;
	display: block;
	margin: 2% auto 0 auto;
}

.blurb > h1 {
	margin: 8% auto 0 -24%;
}

.blurb h1 {
  font-size: 20px;
}

.blurb h1{
color: #1c1c1c;
word-spacing: normal;
}

.blurb h4 {
color: #b9a797; 
margin-top: 4%;
margin-bottom: 1%;  
word-spacing: normal;
}

.blurb p {
color: #b9a797;
font-size:15px;
margin-bottom: 20px;
}


 .blurb {
  width: 68%;
  display: block;
  margin: 2% auto 0 auto;
}

#PD {
    padding-left: 8%;
    padding-right: 5%;

}

#VD {
    padding-left: 8%;
    padding-right: 5%;

}

#SB {
    padding-left: 8%;
    padding-right: 5%;

}

#GD {
    padding-left: 8%;
    padding-right: 5%;

}

#TA {
    padding-left: 8%;
    padding-right: 5%;

}


/*lists*/

li {
    list-style-type: none; 
    text-align: justify;
    color: #b9a797;
    
}

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
/* font-sizes/line-heights*/

h1 {
    font-family: 'FuturaStd-Medium', 'Arial', sans-serif;
    color: black;
    font-size: 3.6em;
}

a {
    text-decoration: none;
    padding-left: 20px;
    color: black;
   
  

}

h4 {
    font-family: 'FuturaStd-Medium';
    color: black;
    font-size: 0.9em;
    margin-top: 5px;
    word-spacing:8px;
}

nav,
p {
    font-family: 'FuturaStd-light';
    color: black;
    font-size: 1.3em;
}

#aboutA {
    margin-top: -3%;
    margin-left: 10%;
    margin-right: 6%;
}

.aboutp p {
    font-family: 'FuturaStd-Light';
    font-size: 1em;
}
.aboutp {
    padding-bottom: 10%;
}

li {
 color: black;
font-family: 'FuturaStd-LightOblique';
    overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
        display: inline-block;

}

.creds h2{
    font-family: 'FuturaStd-Heavy';
    font-size: 1em;
    padding-top: 0.5%;
}

#leftbar {
    position: fixed;
    width: 20%;
    left:0%;
    z-index:9999;
    word-spacing:100px;
    top: 10%;
    overflow-x: hidden;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 19px;
  text-decoration: none;
     font-size: 1em;

  color: black;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
font-family: 'FuturaStd-Light';

}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    font-family: 'FuturaStd-Medium';
}

/* Main content */
.main {
  padding: 0px 50px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 20px;
}

 #stickyalias {
    display: none;
    height: 10px;
 }

#unstickyheader {
    margin-bottom: -10px;
}

 #othercontent {
  margin-top: 200px;
}
/* Additional Typography CSS */


#social-media {
    padding-left: 33%;
}
#social-media li {
    display: inline-block;
    margin-right: 0px;
    

}

header {
    background-color: white; 
position: fixed;
  top: 0;
    left:18%;
  width: 100%

}

#name{
    width: 250px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: -10%;

}

#contact{
left:80%;
position: fixed;
top: 6%;
}

/*Backgrounds */


footer {
    background-color: white;
    list-style-type: none;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 20px;
    align-content: center;
    margin: 0px;
    padding-right: 20px;
    
}

#pages {
    text-align: right;
}


#social-media .fa {
    color: black;
    transition: color 1s;
    display: inline-block;
}

#social-media .fa:hover {
    color: firebrick;
}

.fa-2x {
    font-size: 3em;
}

.mobile {
    text-align: right;
    position:relative;
    top:-250px;
    
    color: white;
}

.mobile-top .one-half {
width: 50%;
}

/* == heights / padding / margins / borders ==*/

.column {
    float: left;
    padding: 100px;
}

.one-half {
    width: 50%;
}

.one-third {
    width:33%;  
}

.one-fourth {
    width: 25%;  
}
.container {
    width: 955px;
    margin: auto;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.img-responsive {
    max-width: 100%;
}

.picrow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 85px 100px;
}

/* Create four equal columns that sits next to each other */
.piccol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.piccol img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .piccol {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .piccol {
    flex: 100%;
    max-width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.slidecol {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 50%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 55px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
/*
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
*/

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

 